
section {
    font-family: sans-serif;
    background-color: rgb(80, 80, 87);
    justify-content: space-around;
}

article {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(63, 63, 68);    
}

strong {
    color: rgb(207, 126, 19);
    font-size: 5rem;
}

header {
    display: flex;
    justify-content: space-around;
}

#header_title {
    display: flex;
}

#pages {
    display: flex;
    justify-content: space-around;
}

input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box
}

.left {
    display: flex;
    font-weight: bold;
    font-size: 3rem;
}

.right {
    width: 20%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    background-color: black;
    padding: 20px;
}

#label {
    color: white;
    margin-bottom: 5px;
}

#join {
    text-align: center;
    color: white;
}

#btn_join {
    margin-top: 20px;
    background-color: rgb(207, 126, 19);
    cursor: pointer;
}